<div class="summary-wrapper">
    <div class="paper-sheet">
        <div class="paper-header">
            <h2>{{ title }}</h2>
            <div class="paper-subtitle">{{ 'requestSummary.subtitle' | translate }}</div>
            <div class="meta-row" *ngIf="referenceCode">
                <span class="meta-chip" *ngIf="referenceCode">{{ 'requestSummary.referencePrefix' | translate }}: {{
                    referenceCode }}</span>
            </div>
        </div>

        <div class="paper-body">
            <div class="row-line" [class.row-line-motif]="row.isMotif" *ngFor="let row of rows">
                <div class="row-label">{{ row.label | translate }}</div>
                <div class="row-value" [class.row-value-motif]="row.isMotif" *ngIf="row.type !== 'image'">{{
                    row.value || '-' }}</div>
                <div class="row-value row-image" *ngIf="row.type === 'image'">
                    <img *ngIf="row.value; else noImage" [src]="row.value" [alt]="row.alt || row.label">
                    <ng-template #noImage>-</ng-template>
                </div>
            </div>
        </div>

        <div class="paper-footer">
            <button type="button" class="custom-btn btn-cancel" (click)="onCancel()">
                <span>{{ cancelLabel }}</span>
            </button>
            <button type="button" class="custom-btn btn-login" (click)="onConfirm()">
                <span>{{ confirmLabel }}</span>
            </button>
        </div>
    </div>
</div>