@import "~@fortawesome/fontawesome-free/css/all.css";

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 82px ;
  /*padding: 0 16px;*/
  /*max-width: 960px;*/
  flex-direction: column;
  align-items: center;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card-container1 {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*justify-content: center;*/
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}


.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #ffffff;
  color: #ED1C24;
  font-weight: 600;
  margin-left: 100%;
  margin-top: 45%;
  border:  none;
  width: auto;
  min-width: 30%;
  position: static;
}

/*.card.card.highlight-card span {*/
/*  margin-left: 60px;*/
/*}*/










.card1 svg.material-icons path {
  fill: #888;
}

.card1-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card1 {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card1-container .card1:not(:last-child) {
  margin-right: 0;
}

.card1.card1-small {
  height: 16px;
  width: 168px;
}



.card1-container .card1:not(.highlight-card1):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card1-container .card1:not(.highlight-card1):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card1.highlight-card1 {
  background-color: #ffffff;
  color: #ED1C24;
  font-weight: 600;
  border:  #F8A714 solid;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card1.card1.highlight-card1 span {
  margin-left: 60px;
}




.descriptionCard {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 200px;
  width: 800px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.descriptionCard-container .descriptionCard:not(:last-child) {
  margin-right: 0;
}

.descriptionCard .descriptionCard-small {
  height: 16px;
  width: 168px;
}



.descriptionCard-container .descriptionCard:not(.highlight-descriptionCard):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.descriptionCard-container .descriptionCard:not(.highlight-descriptionCard):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.descriptionCard.highlight-descriptionCard {
  background-color: #ffffff;
  color: #ED1C24;
  font-weight: 600;
  border:  #F8A714 solid;
  width: auto;
  min-width: 30%;
  position: relative;
}

.descriptionCard.descriptionCard.highlight-descriptionCard span {
  margin-left: 60px;
}


.descriptionCard1 {
  border-radius: 4px;
  border: 3px solid #F8A714;
  background-color: #fafafa;
  height: 260px;
  width: 940px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.descriptionCard1-container .descriptionCard1:not(:last-child) {
  margin-right: 0;
}

.descriptionCard1 .descriptionCard1-small {
  height: 16px;
  width: 168px;
}



.descriptionCard-container1 .descriptionCard1:not(.highlight-descriptionCard1):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.descriptionCard1-container .descriptionCard1:not(.highlight-descriptionCard1):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.descriptionCard1.highlight-descriptionCard1 {
  background-color: #ffffff;
  color: #ED1C24;
  font-weight: 600;
  border:  #F8A714 solid;
  width: auto;
  min-width: 30%;
  position: relative;
}

.descriptionCard1.descriptionCard1.highlight-descriptionCard1 span {
  margin-left: 60px;
}

.littleCard svg.material-icons path {
  fill: #888;
}

.littleCard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.littleCard {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 60px;
  width: 60px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.littleCard-container .littleCard:not(:last-child) {
  margin-right: 0;
}

.littleCard.littleCard-small {
  height: 16px;
  width: 168px;
}



.littleCard-container .littleCard:not(.highlight-littleCard):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.littleCard-container .littleCard:not(.highlight-littleCard):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.littleCard.highlight-littleCard {
  background-color: #ffffff;
  color: #ED1C24;
  font-weight: 600;
  border:  #F8A714 solid;
  width: auto;
  min-width: 30%;
  position: relative;
}

.littleCard.littleCard.highlight-littleCard span {
  margin-left: 60px;
}






svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: calc(100vh - 95px);
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.card {
  /* Add card properties */
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 200px; /* Adjust the height as needed */
  width: 300px; /* Adjust the width as needed */
  margin: 16px; /* Adjust the margin as needed */
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card1 {
  /* Add card properties */
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 200px; /* Adjust the height as needed */
  width: 300px; /* Adjust the width as needed */
  margin: 16px; /* Adjust the margin as needed */
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.cardEmoji svg.material-icons path {
  fill: #888;
}

.cardEmoji-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}



.cardEmoji-container .cardEmoji:not(:last-child) {
  margin-right: 0;
}

.cardEmoji.cardEmoji-small {
  height: 16px;
  width: 168px;
}



.cardEmoji-container .cardEmoji:not(.highlight-cardEmoji):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.cardEmoji-container .cardEmoji:not(.highlight-cardEmoji):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.cardEmoji.highlight-cardEmoji {
  background-color: #ffffff;
  color: #ED1C24;
  font-weight: 600;
  border:  #F8A714 solid;
  width: auto;
  min-width: 30%;
  position: relative;
}

.cardEmoji.cardEmoji.highlight-cardEmoji span {
  margin-left: 60px;
}


.cardEmoji {
  /* Add card properties */
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  /*height: 200px; !* Adjust the height as needed *!*/
  /*width: 300px; !* Adjust the width as needed *!*/
  margin: 16px; /* Adjust the margin as needed */
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card .flags {
  /* Add image properties */
  width: 100%;
  height: auto;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
  border-color: rgba(27,31,35,.35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

.logo{
  margin-left: -45%;
  margin-top: -4%;
  width:35%;
  /*height:100%;*/
}

img.logo1{
  margin-left: -100%;
  margin-top: -12%;
  width:110px;
  height:110px
}

img.logo2{
  margin-left: 200%;
  margin-top: -12%;
  width:130px;
  height:130px
}

.home{
  /*margin-left: -135%;*/
  /*margin-top: -9%;*/
  width:70px;
  height:70px
}

.return{
  /*margin-left: -110%;*/
  /*margin-top: -18%;*/
  width:70px;
  height:70px
}

.content{
  font-family: 'CoconNextArabic', Arial, sans-serif;
}
.appName{
  font-size: 60px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flags1{
  width: 100%;
  height: 90%;
}

.flags2{
  width: 40%;
  height: 40%;
}
.flags3{
  width: 70%;
  height: 90%;
}

.flags4{
  width: 70%;
  height: 70%;
}


.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.custom-btn1 {
  width: 190px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-login {
  background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #F8A714 0%, #ED1C24 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-login span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-login:before,
.btn-login:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #F8A714;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-login:before{
  height: 0%;
  width: 2px;
}
.btn-login:after {
  width: 0%;
  height: 2px;
}
.btn-login:hover:before {
  height: 100%;
}
.btn-login:hover:after {
  width: 100%;
}
.btn-login:hover{
  background: transparent;
}
.btn-login span:hover{
  color: #ED1C24;
}
.btn-login span:before,
.btn-login span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #F8A714;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-login span:before {
  width: 2px;
  height: 0%;
}
.btn-login span:after {
  height: 2px;
  width: 0%;
}
.btn-login span:hover:before {
  height: 100%;
}
.btn-login span:hover:after {
  width: 100%;
}

textarea {
  resize: none;
  width: 100%;
  height:100px;
  font-size: 25px;
}

.change-password{
  cursor: pointer;
}

.homeButton{

}
